
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>alquran api</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>alquran api</h1>
    <h2>{{ data.nama }} ({{ data.nama_latin }})</h2>
    <p><strong>Jumlah Ayat:</strong> {{ data.jumlah_ayat }}</p>
    <p><strong>Tempat Turun:</strong> {{ data.tempat_turun }}</p>
    <p><strong>Arti:</strong> {{ data.arti }}</p>
    <p>{{ data.deskripsi|safe }}</p>
    <audio controls>
        <source src="{{ data.audio }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    
    <h3>Ayat:</h3>
    <ul>
    {% for ayat in data.ayat %}
        <li>
            <p><strong>{{ ayat.nomor }}. {{ ayat.ar }}</strong></p>
            <p><em>{{ ayat.tr }}</em></p>
            <p>{{ ayat.idn }}</p>
        </li>
    {% endfor %}
    </ul>
    
    <h3>Surat Selanjutnya:</h3>
    <p>{{ data.surat_selanjutnya.nama }} ({{ data.surat_selanjutnya.nama_latin }})</p>
    <p><strong>Jumlah Ayat:</strong> {{ data.surat_selanjutnya.jumlah_ayat }}</p>
    <p><strong>Tempat Turun:</strong> {{ data.surat_selanjutnya.tempat_turun }}</p>
    <p><strong>Arti:</strong> {{ data.surat_selanjutnya.arti }}</p>
    <audio controls>
        <source src="{{ data.surat_selanjutnya.audio }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
</body>
</html>